---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, OG_IMAGE } from '../consts';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <!-- OG Meta Tags -->
		<meta property="og:title" content={SITE_TITLE} />
		<meta property="og:description" content={SITE_DESCRIPTION} />
		<meta property="og:image" content={`https://www.chrisblogs.dev${OG_IMAGE}`} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.chrisblogs.dev" /> <!-- Replace with your website URL -->
		<!-- Other meta tags -->
	<style>
        body {
            font-family: Arial, sans-serif;
        }
        main {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 20px; /* Increased to accommodate descriptions */
            padding-left: 20px;
            position: relative;
        }
        li:before {
            content: '•';
            color: #007BFF; /* Change to your preferred bullet color */
            font-size: 20px;
            position: absolute;
            left: 0;
        }
        .description {
            margin-top: 5px;
            margin-left: 20px; /* Aligns with bullet text */
        }
        code {
            background-color: #f5f5f5;
            border-radius: 4px;
            padding: 2px 4px;
        }
        a {
            color: #007BFF; /* Match bullet color for consistency */
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
		.billboard {
			background-color: #900C3F; /* Vibrant background color */
			padding: 16px;
			border-radius: 10px; /* Rounded corners for the billboard */
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Shadow for depth */
			text-align: center;
			position: relative;
			margin: 20px auto; /* Center the billboard */
			max-width: 80%; /* Adjust based on your preference */
}
		.marquee-container {
			padding: 10px;
			background-color: #FF5733; /* Bright background for the text area */
			border-radius: 5px; /* Slightly rounded corners within the billboard */
		}

		.marquee-text {
			font-size: 24px;
			font-weight: bold;
			color: #FFFFFF; /* Bright text for visibility */
			font-family: 'Arial', sans-serif; /* Choose a bold, clear font */
		}

		.lights-top, .lights-bottom {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 10px;
			background: repeating-linear-gradient(90deg, #FFFF33, #FFFF33 10px, transparent 10px, transparent 20px); /* Simulating lights */
		}

		.lights-top {
			top: 0;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

		.lights-bottom {
			bottom: 0;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		.highlighted {
			background-color: #f5deb3; /* Highlight background */
			color: black; /* Text color */
			padding: 5px; /* Some padding around the text */
			border-radius: 5px; /* Optional: rounded corners */
		}
		.video-container {
			display: flex;
			justify-content: center; /* Center horizontally */
			align-items: center; /* Center vertically */
			margin: 40px auto 40px; /* Increased bottom margin */
			box-shadow: 0 0 0 5px #f5deb3; /* Simulates a border with shadow */
			border-radius: 15px; /* Rounded corners */
			overflow: hidden; /* Clips content to border radius */
			width: 560px; /* Width of the iframe */
			max-width: 100%; /* Ensure it doesn't exceed its parent's width */
		}

		.video-container iframe {
			width: 100%; /* Take full width of the container */
			height: 315px; /* Standard height for the video */
			display: block; /* Removes any default margin or padding */
		}

		.centered-text {
			text-align: center; /* Centers the text horizontally within its container */
			margin: 20px 0; /* Adds vertical spacing above and below the text for better separation */
}
		.bag-container {
            border: 2px solid #ccc;
            padding: 20px;
            margin: 20px auto;
            width: 300px;
            text-align: center;
            background-color: #f8f8f8;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
        button {
            padding: 10px 20px;
            background-color: #f5deb3;
;
            color: black;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }
        button:hover {
            background-color: #f5deb3;
        }
		.container {
			text-align: center; /* Center everything in the container */
			padding: 20px; /* Add some padding for spacing */
		}
		.word-display {
			text-align: center; /* Center text */
			margin-top: 20px; /* Space between button and text */
			opacity: 0; /* Initially hide the text */
		}

		@keyframes growAndShrink {
			0%, 100% {
				transform: scale(1);
				opacity: 0;
			}
			50% {
				transform: scale(1.5);
				opacity: 1;
			}
		}

		.word-animate {
			animation: growAndShrink 1s ease;
		}
		button#randomWordButton {
			padding: 10px 20px; /* Button padding */
			background-color: #f5deb3; /* Button background color */
			color: navy; /* Text color */
			border: 2px solid #2337ff; /* Border color */
			border-radius: 5px; /* Rounded corners */
			font-size: 16px; /* Text size */
			cursor: pointer; /* Cursor changes to indicate it's clickable */
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
			transition: all 0.3s ease; /* Smooth transition for hover and active states */
		}

		button#randomWordButton:hover {
			background-color: #2337ff; /* Slightly lighter color on hover */
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
			color: white; 
		}

		button#randomWordButton:active {
			background-color: #367c39; /* Darker color when the button is clicked */
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Smaller shadow for a "pressed" effect */
		}
		h2 {
		margin: 10px;
        text-align: center; /* Centers the h1 text horizontally */
    }
    </style>
</head>
<body>
    <Header title={SITE_TITLE} />
    <main>
		<div class="billboard">
			<div class="lights-top"></div>
			<div class="marquee-container">
				<marquee class="marquee-text">🌐 Web. 📊 Analytics. 🎺 Music. 🏬 Markets. </marquee>
			</div>
			<div class="lights-bottom"></div>
		</div>
		
				<h2>🧑🏻‍💻 Chris Blogs</h2>
				<section id="chris-blogs-video">
					<div class="video-container">
						<iframe src="https://www.youtube.com/embed/qSSLe0lervg" title="YouTube video player" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					</div>
				  </section>
				<p>My name is Chris Rotunno, and you've landed on "Chris Blogs", my personal platform for <span class="highlighted">development</span>, <span class="highlighted">discovery</span>, and <span class="highlighted">content creation</span>.
					My interests are multifaceted, ranging from cat humor to entropy. I encourage you to click the button below and browse the rest of my site.</p>
				<p></p>
				<div class="container">
					<div id="wordDisplay" class="word-display"></div> <!-- Word will be displayed here -->
					<button id="randomWordButton">Chris' Bag Of Words</button>
				</div>
				<script type="module" src="/randomWordPicker.js"></script>
				</ul>        <!-- Additional content and helpful links -->
    </main>
    <Footer />
</body>
</html>
